$body-color: slateblue;

// Import Reset
@import "./reset.scss";

body {
  min-height: 100vh;
  color: $body-color;
  font-family: sans-serif;
  margin: 0;
}

#game {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

#scene {
  flex: 2;
  background: rgb(112, 163, 221);

  .bubble {
    position: absolute;
    width: 200px;
    top: 0;
    left: 0;
    cursor: pointer;

    &_relativeContainer {
      position: relative;
    }

    &_background {
      position: absolute;
      top: 0;
      left: 0;
    }
  }
}

#sentence {
  background: #fffdfa;
  flex: 0.5;
  display: flex;
  flex-direction: row;
  height: 6.5vh;

  .selectedWord {
    height: 250px;
    width: 20vw;
  }
}

#app {
  min-height: 100vh;
}

.is-hide {
  display: none;
  opacity: 0;
  visibility: hidden;
}

.container-video {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

video {
  width: 100vw;
  height: auto;
}
