$color-1: #fc7251;
$color-2: #fdcbb7;

// Import Reset
@import "./reset.scss";

body {
  min-height: 100vh;
  font-family: 'Raleway', sans-serif;
  font-size: 26px;
  margin: 0;
}

button {
  font-family: 'Raleway', sans-serif;
  font-size: 26px;
}

#game {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: 100vh;
}

#scene {
  background: radial-gradient(#fff, #fca84b);
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;

  .bubble {
    position: absolute;
    width: 200px;
    top: 0;
    left: 0;
    cursor: pointer;
    z-index: 2;

    &_relativeContainer {
      position: relative;
    }

    &_background {
      position: absolute;
      top: 0;
      left: 0;
    }
  }
}

#sentence {
  background: #fdcbb7;
  display: flex;
  flex-direction: row;
  height: 120px;
  width: 80vw;
  margin: 5vh auto;
  z-index: 2;
  border-radius: 10px;
  align-items: center;
  justify-content: space-between;

  .selectedWord {
    height: 100px;
    width: 15vw;
    border-bottom: 2px solid #fc7251;
    opacity: 25%;
  }
}

#app {
  min-height: 100vh;
}

.is-hide {
  display: none;
  opacity: 0;
  visibility: hidden;
}

.container-video {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

video {
  width: 100vw;
  height: auto;
}

.timer {
  position: absolute;
  top: 25px;
  left: 25px;
  z-index: 1;

  .container-bar {
    display: block;
    width: 300px;
    height: 10px;
    background-color: $color-2;
    border-radius: 25px;

    .bar {
      display: block;
      width: 0;
      height: 100%;
      background-color: $color-1;
      border-radius: 25px;
    }
  }
}

// Containers

.container-page {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: calc(100% - 20px);
  height: calc(100% - 50px);
  min-height: calc(100vh - 50px);
  max-width: 1420px;
  margin: 0 auto;
  padding: 25px 10px;
  & > *:not(:last-child) {
    margin-bottom: 1.5% !important;
  }
}

.container-img {
  img {
    width: 100%;
    height: auto;
  }
}

.container-list {
  li {
    &:not(:last-child) {
      margin-bottom: 1.25%;
    }

    p {
      span {
        margin-right: 10px;
      }
    }
  }
}

// .container-text {
//   p {
//     &:not(:last-child) {
//       margin-bottom: 1.25%;
//     }
//   }
// }

// Styles

.style-bold {
  font-weight: bold;
}

.style-btn-1 {
  display: inline-block;
  min-width: 26px;
  min-height: 26px;
  padding: 10px;
  color: $color-1;
  border: $color-1 solid 3px;
  border-radius: 100%;
  font-weight: bold;
  line-height: 0.8;
  text-align: center;
}

.style-btn-2 {
  display: inline-block;
  min-width: 394px;
  min-height: 96px;
  padding: 10px;
  background-color: $color-1;
  color: white;
  border: $color-1 solid 3px;
  border-radius: 75px;
  font-weight: bold;
  line-height: 0.8;
  text-align: center;
}

// Pages

.page.start {
  .container-img {
    width: calc(100% - 50px);
    height: calc(100% - 50px);
    max-width: 621.77px;
    margin: 0 auto;
    padding: 25px;
  }

  .container-list {
    width: calc(100% - 50px);
    height: calc(100% - 50px);
    max-width: 750px;
    margin: 0 auto;
    padding: 25px;
  }
}

.page.finish {
  .container-text {
    width: calc(100% - 50px);
    height: calc(100% - 50px);
    max-width: 1021.77px;
    margin: 0 auto;
    padding: 25px;

    p {
      color: $color-1;
      font-size: 48px;
      text-align: center;
    }
  }
}
